<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow Field Analysis</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <script src="../static/js/jquery-3.5.1.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/UIAnalyzeC2I.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="MainMenu">流场流线特征分析</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">数据管理</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="DataImport">数据导入</a>
                        <a class="dropdown-item" href="DataExport">数据导出</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">数据分析</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="AnalyC2I">主邻小区C2I干扰分析</a>
                        <a class="dropdown-item" href="AnalyThreeTuple">查询重叠覆盖干扰三元组</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</head>
<body>

</body>
</html>